html, * {
    box-sizing: border-box;
  }

  header {
    font-size: 10vmin;
    color: green;
    background-color: black;
    text-align: center;
  }

  body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #happyMeter{
    padding: 3px 0 4px 0;
	width: 130px;
  }


  #dungeon {
    width: 34vmin;
    height: 30vmin;
    background-image: url(/Users/KOC/code/p1/imgs/monster.png);
    background-size: cover;
  }